body {
    background-image:  url('../images/cover/ind-cover.jpg');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
}


.avatar {
    vertical-align: middle;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: absolute;
    top: 1000px;
    left: 75px;
}

.info{
    width: 33%  !important; 
    -webkit-print-color-adjust: exact;
    position: absolute;
    top: 1210px;
    left: 60px;
    color: #165B56;
   
}

h1.name{
    font-size: 18px;
}

p.details{
    font-size: 14pt;

}

p.para{
    position: absolute;
    top: 600px;
    left: 50px;
    width: 25%;
    text-align: justify;
    font-size: 14pt;
}

.cover-title{
    text-align: left;
    position: relative;
    top: 250px;
    right:50px ;
}

h1.title-type{
    color:#006c99 ;
    font-size: 48pt;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: right;
}

h1.title-report{
    color:#006c99 ;
    font-size: 48pt;
    font-family: Lato, sans-serif;
    font-weight: 700;
    text-align: right;
    margin-top: -50px;
    right:50px ;
}

.date{
    text-align: right;
    position: relative;
    top: 250px;
    right:50px ;
}

h1.details{
    color:#006c99 ;
    font-size: 14pt;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
    right:50px ;
}

h1.details2 {
    color:#006c99 ;
    font-size: 14pt;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
    right:50px ;
}

h1.details3 {
    color:#006c99 ;
    font-size: 14pt;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
    right:50px ;
}

img.comp-logo{
    height: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 720px;
}

img.coverlogo{
    width: 200px;
    position: absolute;
    right:50px ;
    top: 0;
}

@page {
    size: a4;
    margin:0;
  }
  @media print {
    html, body {
        width: 100%;
        height: 95%;
    }
    h1.name{
        word-wrap: break-word;
        width: 45%;
        right:0.5in ;
    }

    h1.title-type{
        right: 0.5in;
    }
    .cover-title{
        text-align: right;
        position: relative;
        top: 220px;
        right:0.5in ;
    }

    .date{
        text-align: right;
        position: relative;
        top: 210px;
        right:0.5in ;
    }

    img.comp-logo{
        float: right;
        text-align: right;
        right:0.5in ;
        margin-top: 850px;
    }

    img.coverlogo{
        width: 200px;
        position: absolute;
        right:0.5in ;
        top: 0.5in;
    }
    
  }

@media only screen {
    html,body{
    width: 210mm;
    height: 297mm;
    }
    

}